[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OLStrajr"]
	path = OLStrajr
	url = https://github.com/mightymetrika/olstrajr
[submodule "bootwar"]
	path = bootwar
	url = https://github.com/mightymetrika/bootwar
[submodule "exactamente"]
	path = exactamente
	url = https://github.com/mightymetrika/exactamente
[submodule "mmcards"]
	path = mmcards
	url = https://github.com/mightymetrika/mmcards
[submodule "npboottprm"]
	path = npboottprm
	url = https://github.com/mightymetrika/npboottprm
