[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OLStrajr"]
	path = OLStrajr
	url = https://github.com/mightymetrika/olstrajr
[submodule "bootwar"]
	path = bootwar
	url = https://github.com/mightymetrika/bootwar
[submodule "exactamente"]
	path = exactamente
	url = https://github.com/mightymetrika/exactamente
[submodule "mmcards"]
	path = mmcards
	url = https://github.com/mightymetrika/mmcards
[submodule "mmiCATs"]
	path = mmiCATs
	url = https://github.com/mightymetrika/mmicats
[submodule "mmibain"]
	path = mmibain
	url = https://github.com/mightymetrika/mmibain
[submodule "mmirestriktor"]
	path = mmirestriktor
	url = https://github.com/mightymetrika/mmirestriktor
[submodule "npboottprm"]
	path = npboottprm
	url = https://github.com/mightymetrika/npboottprm
[submodule "npboottprmFBar"]
	path = npboottprmFBar
	url = https://github.com/mightymetrika/npboottprmfbar
