[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OLStrajr"]
	path = OLStrajr
	url = https://github.com/mightymetrika/olstrajr
[submodule "npboottprm"]
	path = npboottprm
	url = https://github.com/mightymetrika/npboottprm
